RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=36acd49b-6d53-4d0c-8e41-3de477603be4
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=36acd49b-6d53-4d0c-8e41-3de477603be4
PRIVATE_KEY=

DISTRIBUTE_INTERVAL_MAX=500
DISTRIBUTE_INTERVAL_MIN=300

BUY_UPPER_PERCENT=50    # percent
BUY_LOWER_PERCENT=30

BUY_INTERVAL_MAX=200    # seconds
BUY_INTERVAL_MIN=100

SELL_INTERVAL_MAX=150   # seconds
SELL_INTERVAL_MIN=100

DISTRIBUTE_WALLET_NUM=5
SOL_AMOUNT_TO_DISTRIBUTE=0.05

FEE_LEVEL=10      # 10 is standard
SLIPPAGE=50       # max slippage in percent (50 = 50%); higher = trades land more reliably

TOKEN_MINT=BsZCwqFbudCH9rhyEzAsh3GUxkH9sM8Gt3exGU9xpump

JITO_MODE=false
JITO_FEE=0.0001

BIRDEYE_KEY=847e7edb5b73416ca28ea93c6f1d91a6
AIRDROP_ADDRESS=43yPuBTs2ZLY79GeCMGfx7RVo8bCt5RnKEicvUKFVkoZ
GATHER_ADDRESS=43yPuBTs2ZLY79GeCMGfx7RVo8bCt5RnKEicvUKFVkoZ
